@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Dark Theme */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a; /* border color */
  border-radius: 5px;
  border: 2px solid #18181b; /* surface color to create padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* muted color */
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a #18181b;
}

/* Utilities */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
